:host {
    display: flex;
    flex-direction: column;
}

mat-icon {
    color: #EC0;
}

mat-list-item {
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

mat-card {
    margin-bottom: 20px;
}
