<mat-card>
    <mat-card-subtitle>Category_name</mat-card-subtitle>
    <mat-card-content>
        <add-product></add-product>
        <mat-list>
            <mat-list-item *ngFor="let product of products | async">
                <mat-icon mat-list-icon>money</mat-icon>
                <h4 mat-line>{{product.name}}</h4>
                <p mat-line>{{product.category}}</p>
                <p mat-line>{{product.price}}$</p>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>