:host {
    height: 100%;
    display: grid;
    align-content: stretch;
    grid-template-columns: 300px auto;
    grid-template-rows: fit-content(100%) auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-areas:
        "add-categories add-products"
        "categories products";
    padding-bottom: 10px;
}

@media screen and (max-width: 1024px) {
    :host {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-column-gap: 0px;
        grid-row-gap: 20px;
        grid-template-areas:
            "add-categories add-products"
            "categories products";
    }
}

.add-categories {
    grid-area: add-categories;
}

.add-products {
    grid-area: add-products;
}

.categories {
    grid-area: categories;
}

.products {
    grid-area: products;
}
