.app-root {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 18fr 2fr 1fr;
    grid-template-rows: 64px 80px auto 64px;
    grid-row-gap: 20px;
    grid-template-areas:
        "app-menu app-menu app-menu app-menu app-menu"
        ". . app-header . ."
        ". . app-main . ."
        "app-footer app-footer app-footer app-footer app-footer ";
}

.app-menu {
    grid-area: app-menu;
}

.app-header {
    grid-area: app-header;
}

.app-main {
    grid-area: app-main;
}

.app-footer {
    grid-area: app-footer;
}
