:host {
    height: 100%;
    display: grid;
    align-content: stretch;
    grid-template-columns: 300px auto;
    grid-template-rows: auto;
    grid-column-gap: 15px;
    grid-template-areas: "categories products";
    padding-bottom: 10px;
}

@media screen and (max-width: 1024px) {
    :host {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-column-gap: 0px;
        grid-row-gap: 10px;
        grid-template-areas: "categories" "products";
    }
}

.categories {
    grid-area: categories;
}

.products {
    grid-area: products;
}
