/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body, app-root {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

html {
    background: url('https://www.walldevil.com/wallpapers/a41/chronicle-chaotic-lineage-backgrounds-wallpaper-wallpapers-games-images.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

button {
    user-select: none;
}
